<h1>Word Frequency</h1>

<p>How many times does a word appear in a phrase?</p>

<form action='/word_count' method="get">
  <div class="form-group">
    <label for="word">Enter Your Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="phrase">Enter Your Phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default">Go!</button>
</form>