<p>Your word <span class="word"><%= @word %></span> appears <span class="count"><%= @word_count %></span> times in the phrase, <span class="phrase">"<%= @phrase %>"</span></p>

<a href="/" class="btn btn-default" role="button">Try Another Word and Phrase</a>